/* RESET STYLES */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}
/* RESET STYLES */

/*  GLOBAL STYLES */
:root {
  --font-base-color: #000000;
  --copytext-font-family: LiebherrText-Regular;
  --copytext-font-family-bold: LiebherrText-Bold;
  --copytext-font-family-medium: LiebherrText-Medium;
  --bs-breadcrumb-divider: '>';

  --primary-color: #2779C4;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--font-base-color) !important;
  font-family: var(--copytext-font-family) !important;
}

body a {
  text-decoration: none;
  color: var(--font-base-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: LiebherrHead-Black !important;
  font-weight: 400 !important;
}

.fw-bold {
  font-family: var(--copytext-font-family-bold) !important;
}

.fw-medium {
  font-family: var(--copytext-font-family-medium) !important;
}

.liebherr-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 110px !important;
}
.liebherr-section {
  margin-top: 48px;
}
.liebherr-breadcrumb {
  background-color: #F0F3F6;
}

@media (max-width: 992px) {
  .liebherr-container {
    padding: 0 64px !important;
  }
}
@media (max-width: 768px) {
  .liebherr-container {
    padding: 0 16px !important;
  }
}

.liebherr-header-logo {
  width: 160px;
  height: 20px;
}

@media (max-width: 768px) {
  .liebherr-header-logo {
    width: 96px;
    height: 12px;
  }
}
body .form-control {
  border-radius: 0;
  border: 1px solid #000000;
}
body .form-control:focus {
  outline: 2px solid #000;
  box-shadow: none;
}

@media screen and (max-width: 991px) {
  a.nav-link {
    padding: 0;
  }
  .nav-search-form {
    padding: 24px 0;
    margin: 24px 0;
    border-bottom: 1px solid #F0F3F6;
    border-top: 1px solid #F0F3F6;
  }
}
@media screen and (min-width: 992px) {
  a.nav-link {
    position: relative;
  }
  a.nav-link.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #2779C4;
  }
  nav.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
nav.navbar {
  border-bottom: 1px solid #F0F3F6;
}
.navbar .navbar-toggler {
  background: transparent;
  border: none;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none !important;
}
.navbar-toggler[aria-expanded="true"] .bi-list {
  display: none;
}
.navbar-toggler[aria-expanded="false"] .bi-x-lg {
  display: none;
}
.navbar-toggler[aria-expanded="true"] .bi-x-lg {
  display: block;
}
.navbar-toggler[aria-expanded="false"] .bi-list {
  display: block;
}

body .btn {
  border-radius: 0;
  white-space: nowrap;
}
body .btn-primary {
  background-color: var(--primary-color);
}
body .btn-primary:hover {
  background-color: #003057;
}
body .btn-primary:active {
  background-color: #003057;
}

.why-liebherr-section {
  background-color: #003057;
  padding: 48px 0;
}
.liebherr-footer {
  background-color: #000000;
  padding: 32px 0;
}
/*  GLOBAL STYLES */